# Ignore everything
*

# But not these files...
!__fixtures__/*
!__tests____/*
!__bin____/*
!__src____/*
!.github/*

!.gitignore
!.eslintrc.yml
!docker-compose.yml
!Dockerfile
!Makefile
!package.json
!package-lock.json
!README.md
